{% extends 'base.html' %}
{% block body %}
    <div class="d-flex justify-content-center">
        <div class="row">
            <form action="/" method="get">
                <h2 class="text-center mt-3">Book search</h2>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="q" value="{{ q }}" placeholder="Book name"
                           aria-label="Book name" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </div>
            </form>
        </div>
    </div>
    <section class="py-2">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for book in books %}
                    <div class="col mb-5 fade-in">
                        <div class="card h-100">
                            <img class="card-img-top" src="{{ book.image }}" alt="..."/>
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ book.name }}</h5>
                                    <span>Rating: {{ book.rating }}</span>
                                    <br>
                                    <span>Author: {{ book.author }}</span>
                                    <br>
                                    {#                                    <span>Price: {{ book. }}$</span>#}
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-success {% if book.status %}
                                    disabled
                                    {% endif %} "
                                       href="book/rent/{{ book.id }}"><i class="bi bi-book"></i></a>
                                    <a class="btn btn-outline-dark mt-auto"
                                       href="/book/{{ book.id }}">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}
